---
const {
  label = Astro.currentLocale === 'fr' ? 'Me rappeler' : 'Remember me',
  id,
} = Astro.props;

interface Props {
  label?: string;
  id?: string;
}
---

{/* Container for the checkbox and its label */}
<div class="flex items-center">
  {/* Checkbox input */}
  <div class="flex">
    <input
      id={id}
      name="remember-me"
      type="checkbox"
      class="text-brand-text/70 dark:checked:bg-brand-accent-1/90 pointer-events-none mt-0.5 shrink-0 rounded-sm border-neutral-200 focus:ring-yellow-400 dark:border-neutral-700 dark:bg-neutral-800 dark:checked:border-yellow-400 dark:focus:ring-offset-neutral-800"
    />
  </div>
  {/* Label for the checkbox */}
  <div class="ms-3">
    <label for={id} class="text-brand-text dark:text-brand-text/90 text-sm"
      >{label} <slot />
    </label>
  </div>
</div>
